html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

[hidden] {
    display: none;
}

.no-appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.no-appearance::-ms-expand {
    display: none;
}

.no-user-select, .no-user-select * {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

a, button {
    display: inline-block;
    cursor: pointer;
    border: none;
}

a, a:hover, a:active, a:link, a:focus, button, button:hover, button:active, button:link, button:focus {
    outline: none !important;
    text-decoration: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

span, i {
    display: inline-block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'open_sansregular', sans-serif;
    font-size: 16px;
    overflow: hidden;
}

.content {
    width: 100%;
    max-width: 762px;
    padding: 16px 16px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.wrap {
    width: 100%;
    height: 100%;
    background: white;
}

.icon-search-holder {
    display: none;
}

.content > * {
    margin-bottom: 33px;
}

.logo {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}

.search-holder {
    position: relative;
    height: 40px;
    font-size: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}

.search-holder > * {
    font-size: 16px;
}

.search-holder input {
    height: 100%;
    border: 1px solid #cfd5d9;
    /*border-radius: 30px;*/
}

.search-holder .input {
    padding: 0px 14px;
    border-right: none;
    width: 100%;
}

.search-holder .input:active, .search-holder .input:focus {
    border: 1px solid #4ea1cc;
    border-right: none;
}

.search-holder .input:active + .submit, .search-holder .input:focus + .submit {
    border: 1px solid #4ea1cc;
    border-left: none;
}

.search-holder .input::-ms-clear {
    display: none;
}

.search-holder .submit {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    border-left: none;
    width: 40px;
    padding: 0;
    background-color: transparent;
    background-image: url("./logos/search.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center center;
}

.search-holder .suggestions {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
    margin-top: 4px;
    background: white;
    padding: 10px 0px;
    display: none;
}

.search-holder .suggestions .suggestion {
    padding: 10px 14px;
    cursor: pointer;
}

.search-holder .suggestions .suggestion:hover, .search-holder .suggestions .suggestion.active {
    background: #e5e5e5;
}

.search-holder .suggestions .suggestion strong {
    font-family: 'robotobold', sans-serif;
}

.widgets {
    margin-bottom: 18px;
}

.widgets ul {
    font-size: 0;
    text-align: center;
}

.widgets ul li {
    display: inline-block;
    margin-right: 12.80px;
    margin-bottom: 12.80px;
}

.widgets ul li:last-child {
    margin-right: 15px;
}

/*.widgets ul li a {*/
/*    width: 80px;*/
/*}*/

/*.widgets ul li a i {*/
/*    width: 55px;*/
/*    height: 55px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center center;*/
/*}*/

/*.widgets ul li a span {*/
/*    font-size: 14px;*/
/*    display: block;*/
/*    text-align: center;*/
/*    padding-top: 12px;*/
/*}*/

.chrome * {
    color: #747474;
}

.logo {
    height: 148px;
    margin-bottom: 37px;
    /* background-image: url("./logo.png"); */
    background-size: 147px 147px;
}

.tile {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    margin-right: 5px;
    border-radius: 10px;
}

.tile-wrapper {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    /*margin-right: 10px;*/
    border-radius: 10px;
    background: white;
    /*border: 1px solid #6e7172;*/
    margin: 3px;
}
.tile-wrapper:hover {
    -webkit-box-shadow:2px 2px 0px 0px #ccc;
    -moz-box-shadow:2px 2px 0px 0px #ccc;
    box-shadow:2px 2px 0px 0px #ccc;
}

#uninstall, #install {
    color: rgb(119, 119, 119);
    font-family: arial;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 3px;
}

.img-hidden {
    visibility: hidden;
}

.gmail i {
    background-image: url("https://image.flaticon.com/icons/svg/281/281769.svg");
    background-size: 55px 55px;
}

.radio i {
    background-image: url("https://image.flaticon.com/icons/svg/254/254015.svg");
    background-size: 55px 55px;
}

.twitter i {
    background-image: url("https://image.flaticon.com/icons/svg/145/145812.svg");
    background-size: 55px 55px;
}

.facebook i {
    background-image: url("https://image.flaticon.com/icons/svg/174/174848.svg");
    background-size: 55px 55px;
}

.amazon i {
    background-image: url("https://image.flaticon.com/icons/svg/888/888837.svg");
    background-size: 55px 55px;
}

.aliexpress i {
    background-image: url("https://cdn.iconscout.com/icon/free/png-256/aliexpress-569572.png");
    background-size: 55px 55px;
}

.banggood i {
    background-image: url("https://dl1.cbsistatic.com/i/2017/08/16/09697186-c6a2-47d4-9452-30031d77cc9c/381f37be4ff86221c260ec90dc006800/imgingest-1560165152015160114.png");
    background-size: 55px 55px;
}

.ebay i {
    background-image: url("https://cdn.iconscout.com/icon/free/png-256/ebay-9-569466.png");
    background-size: 55px 55px;
}

.games i{
    background-image: url("https://image.flaticon.com/icons/svg/686/686589.svg");
    background-size: 55px 55px;
}

.allrecipes i {
    background-image: url("https://secureimages.allrecipes.com/ar-images/ARlogo.svg");
    background-size: 55px 55px;
}

.wallpapers i {
    background-image: url("https://wallpapershome.com/images/favicon/32x32.png");
    background-size: 55px 55px;
}

.gamespot i {
    background-image: url("https://www.gamespot.com/favicon.ico");
    background-size: 55px 55px;
}

.imdb i {
    background-image: url("https://image.flaticon.com/icons/svg/889/889118.svg");
    background-size: 44px 44px;
}

.youtube i {
    background-image: url("https://image.flaticon.com/icons/svg/1384/1384060.svg");
    background-size: 44px 44px;
}

.netflix i {
    background-image: url("https://image.flaticon.com/icons/svg/870/870910.svg");
    background-size: 44px 44px;
}

.hulu i {
    background-image: url("https://image.flaticon.com/icons/svg/1384/1384012.svg");
    background-size: 44px 44px;
}

.widgets ul li a i {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 58px;
    height: 58px;
    position: relative;
    /*margin-right: 5px;*/
    border-radius: 10px;
}

#more-links {
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 100;
}

#more-links a{
    color: black;
    text-decoration: none;
}

#more-links a:hover {
    color: #4ea1cc;
}
.provider-image{
    display: none;
    height: 42px;
}